@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.section1 {
  height: 300px;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}

.grid_section1 {
  margin-top: 45px;
  width: 33.33%;
  border-left: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_text {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  margin: 30px;
}

.img_size {
  height: 50px;
  width: auto;
  margin-bottom: 2em;
}
