.inner-container{
    display: flex;
    gap:30px;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding:50px;
    
}

.container{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    flex-wrap: wrap;
}
.inner-group{ 
    
    width: 500px;
    max-width: 500px;
}

