.container{
    display: flex;
    justify-content: center;
    
}


.formcontainer{
    border-radius: 4px;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.formsousform{
    border-radius: 4px;
    padding: 5%;
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;

}

